<div class="w-full h-screen flex justify-center items-center imagen">
    <div class="bg-white p-2 rounded-2xl shadow shadow-black">
        <form class="flex flex-col w-72 h-72 justify-start text-center gap-5">
            <div class="flex flex-col">
                <label for="" class="text-lg font-bold uppercase">Usuario:</label>
                <input type="text"
                    class="uppercase border-2 rounded-sm border-gray-800 hover:border-indigo-700 py-1 placeholder:text-gray-300 active:border-indigo-700"
                    placeholder="user@example">
            </div>
            <div class="flex flex-col">
                <label for="" class="text-lg font-bold uppercase">Contraseña:</label>
                <input type="password"
                    class="uppercase border-2 rounded-sm border-gray-800 hover:border-indigo-700 py-1 placeholder:text-gray-300 active:border-indigo-700"
                    placeholder="*****************+">
            </div>

            <button class="bg-purple-700 text-white py-3.5 rounded-lg uppercase cursor-pointer font-semibold hover:bg-purple-800">
                Enviar
            </button>
        </form>
    </div>
</div>